################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmigLog/bin/Debug/netcoreapp3.1
/EmigLog/obj
/PubSub/.vs/PubSub/v16
/ReceiveLogs/bin/Debug/netcoreapp3.1
/ReceiveLogs/obj
